<!DOCTYPE html>
<html ng-app="editApp">

<head>
    <title>Modify content</title>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0xbJJwC7pQBzNFupb2s7orzOvB_ctSb4&libraries=geometry">
            </script> -->
        <!-- <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0xbJJwC7pQBzNFupb2s7orzOvB_ctSb4&libraries=geometry">
            </script> -->
        <script src="/js/jquery.js"></script>
        <script src="/js/angular.js"></script> 
        <script src="/js/angular-sanitize.js"></script>
        <!-- <script src="/js/bundle.js"></script> -->
        <link rel="stylesheet" href="/css/leaflet.css" />
        <script src="/js/leaflet-src.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-plugins/2.0.0/layer/tile/Google.min.js"></script> -->
        <script src="/js/angular-simple-logger.js"></script>
        <script src="/js/ui-leaflet.js"></script>
        <script src="/js/ui-leaflet-layers.min.js"></script>
        <script src="/js/ui-leaflet-draw.js"></script>
        <script src="/angular/controller/modificationController.js"></script>
        <script src="/js/ui-bootstrap-tpls.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <script src="/js/angular-ui-notification.js"></script>
        <script src="preferences.js"></script>
        <link href="/private.css" rel="stylesheet" type="text/css">
        <script src="/js/select.js"></script>
        <link href="/css/select.css" rel="stylesheet" type="text/css">
        <style>
            body {
            padding: 15px;
            }
            .center-block {
                margin-left:auto;
                margin-right:auto;
                display:block;
            }
        </style>
</head>

<body>
    <div id="titolo" align="center" style="font-family:Arial; font-size:50px">
        <p> NEPTIS </p>
    </div>
    <nav class="navbar navbar-default navbar-static-top" style="top:-23px;height: 51px">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">NEPTIS</a>
            <ul class="nav navbar-nav">
                <li> <a class="nav-link" href='curatore'>Home</a></li>
                <li> <a class="nav-link" href='creation'> Create</a></li>
                <li class="active"> <a class="nav-link" href='modification'> Modify</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <form id="modify" name="modify">
            <div ng-controller="curatorEditController" class="container">
                <div style="text-align:center; margin-bottom: 30px">
                        <h3>Select the kind of structure and the city of interest</h3>
                    </div>
                    <div class="row">
                        <!-- Structure -->
                        <div class="col-md-4">
                            <ui-select ng-model="structure.selected" theme="bootstrap" ng-disabled="disabled" reset-search-input="false" style="width: 300px;">
                                <ui-select-match placeholder="Select a structure...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="struct in structure.structures | filter: $select.search" refresh-delay="0">
                                    <div ng-bind-html="struct.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <!-- Region -->
                        <div class="col-md-4">
                            <ui-select ng-model="regions.selected" ng-change="importCity(regions.selected.name)" theme="bootstrap" ng-disabled="disabled" reset-search-input="false" style="width: 300px;">
                                <ui-select-match placeholder="Select a region...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="regione in region | filter: $select.search" refresh-delay="0">
                                    <div ng-bind-html="regione.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <!-- City -->
                        <div class="col-md-4">
                            <ui-select ng-model="comune.selected" theme="bootstrap" ng-disabled="disabled" reset-search-input="false" style="width: 300px;" on-select="onSelected($item)">
                                <ui-select-match placeholder="Enter a city...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="comune in comuni | filter: $select.search" refresh-delay="0">
                                    <div ng-bind-html="comune.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>


                <div ng-show="structure.selected.name=='City'">
                        <div style="text-align:center; margin-bottom: 30px">
                            <h3>Insert the attraction's name and coordinates</h3>
                        </div>
                        <label for='attractionName' style="display:inline;margin-left:-15px"> Attraction name </label>
                        <input id='attractionName' style="margin-left:-15px" class='form-control' name='attractionName' ng-model="attractionName" type="text" placeholder="Insert a new attraction" required>
                        <div id="map" style='margin-top: 30px'>
                            <label style="display:inline;margin-left:-15px"> Attraction location </label>
                            <leaflet height='500px' width='100%' lf-center='center' event-broadcast='events' markers='markers' lf-draw="map.drawOptions"></leaflet>
                        </div>
                        <input type='button' class="btn btn-default" id='submit' value='Add attraction' ng-click="addCityAttraction()" style='margin-top:20px;margin-left:auto;margin-right:auto;display:block;'>
                        <div id="cityTable" style='margin-top:30px;'>
                                        <table class="table table-hover table-sm table-bordered">
                                            <thead>
                                                <th>Attraction name</th>
                                                <th>Latitude</th>
                                                <th>Longitude</th>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="attraction in cityAttractions">
                                                    <td>{{ attraction.name }}</td>
                                                    <td>{{ attraction.latitude }}</td>
                                                    <td>{{ attraction.longitude }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                    </div>
                    <div ng-show="structure.selected.name=='Museum'">
                        <div id='museumForm' style='margin-top: 30px'>
                            <div style="text-align:center; margin-bottom: 30px">
                                <h3>Insert the museum's name</h3>
                            </div>
                            <label for='museumName' style="display:inline;margin-left:-15px"> Museum name </label>
                            <input id='museumName' style="margin-left:-15px" class='form-control' name='museumName' ng-model="museumName" type="text" placeholder="Insert a museum">
                        </div>
                        <div id='noAreaDiv'>
                            <label style='display:inline-block;margin-left: -15px'>This museum has no areas</label>
                            <input type='checkbox' style='display:inline-block;margin-left: 15px' ng-model="noArea" ng-show="structure.selected.name =='Museum'" name='noArea' value='noArea'>
                        </div>

                        <div style="text-align:center; margin-bottom: 30px">
                            <h3>Add the rooms and attractions</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div id='addArea' style='margin-top: 30px'>
                                    <label for='areaName' style="display:inline;margin-left:-15px"> Area name </label>
                                    <input id='areaName' style="margin-left:-15px" class='form-control' name='areaName' ng-model="areaName" type="text" placeholder="Insert a new area">
                                    <input type='button' class="btn btn-default" id='submit' value='Add room' ng-click="addRoom()" style="margin-top:20px;margin-left:auto;margin-right:auto;display:block;">
                                    <div id="areaTable">
                                        <table class="table table-hover table-sm">
                                            <thead>
                                                <th>Room</th>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="area in roomsList" ng-click="selectArea(area)">
                                                    <td ng-class="{'btn-info': area.selected}">{{ area.name }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id='addAttraction' style='margin-top: 30px'>
                                    <label for='attractionName' style="display:inline;margin-left:-15px"> Attraction name </label>
                                    <input id='attractionName' style="margin-left:-15px" class='form-control' name='attractionName' ng-model="attractionName" type="text" placeholder="Insert a new attraction" required>
                                    <input type='button' class="btn btn-default" id='submit' value='Add attraction' ng-click="addAttraction()" style='margin-top:20px;margin-left:auto;margin-right:auto;display:block;'>
                                    <div id="attractionsTable">
                                        <table class="table table-hover table-sm">
                                            <thead>
                                                <th>Attraction for room {{selectedArea.name}}</th>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="attraction in attractionsList">
                                                    <td>{{ attraction.name }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div id='addAdjRoom' style='margin-top: 30px'>
                                    <label style="display:inline;margin-left:-15px">Set Adjacent Rooms</label>
                                    <ui-select ng-model="selectedAdjArea.selected" theme="bootstrap" ng-disabled="disabled" reset-search-input="false" ng-show="structure.selected.name=='Museum'">
                                        <ui-select-match placeholder="Select a structure...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="room in roomsList | filter: filterRooms" refresh-delay="0">
                                            <div ng-bind-html="room.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <input type='button' class="btn btn-default" id='submit' value='Add adjacent room' ng-click="addAdjRoom()" style='margin-top:20px;margin-left:auto;margin-right:auto;display:block;'>
                                    <div id="adjacentTable">
                                        <table class="table table-hover table-sm">
                                            <thead>
                                                <th>Adjacency list for room {{selectedArea.name}}</th>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="area in selectedArea.adjacent">
                                                    <td>{{ area }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-2">
                                <div id='startRoom' style='margin-top: 30px'>
                                    <label style="display:inline;margin-left:-15px">Set Adjacent Rooms</label>
                                    <ui-select ng-model="startEndRooms.start" theme="bootstrap" ng-disabled="disabled" reset-search-input="false" ng-show="structure.selected.name=='Museum'">
                                        <ui-select-match placeholder="Select a structure...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="room in roomsList | filter: $select.search" refresh-delay="0">
                                            <div ng-bind-html="room.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id='endRoom' style='margin-top: 30px'>
                                    <label style="display:inline;margin-left:-15px">Set Adjacent Rooms</label>
                                    <ui-select ng-model="startEndRooms.end" theme="bootstrap" ng-disabled="disabled" reset-search-input="false" ng-show="structure.selected.name=='Museum'">
                                        <ui-select-match placeholder="Select a structure...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="room in roomsList | filter: $select.search" refresh-delay="0">
                                            <div ng-bind-html="room.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>    
                        <div id='addMuseum' style='margin-top: 30px;'>
                            <input type='button' class="btn btn-default" id='submit' value='Add museum' ng-click="addMuseum()" style='margin-left:auto;margin-right:auto;display:block;'>
                        </div>

                        <!-- <input type='button' class="btn btn-default" id='submit' value='Add links' ng-click="parser2(structure.selected.name)" style='margin-left: 300px'>

                         <div id='add' style='margin-top: 30px' ng-show="(structure.selected.name=='Museum' || structure.selected.name == 'City')">
                            <input type='button' class="btn btn-default" id='submit' value='Add new instance' ng-click="add2(structure.selected.name)" style='margin-left:auto;margin-right:auto;display:block;' ng-disabled="create.$invalid">
                        </div>
                        <div id='confirmation' style='margin-top: 30px' ng-show="(structure.selected.name=='Museum' || structure.selected.name == 'City')">
                            <input type='button' class="btn btn-default" id='submit' value='End instances' ng-click="add(structure.selected.name)" style='margin-left:auto;margin-right:auto;display:block;'>
                        </div>  -->
                    </div>
                    <div id='finish2' ng-show="(structure.selected.name=='City' || structure.selected.name=='Museum')" style='margin-top: 30px;'>
                        <input type='button' class="btn btn-default" id='submit' value='Finish' ng-click="finish()" style='margin-left:auto;margin-right:auto;display:block;'>
                    </div>

            </div>
        </form>
    </div>
</body>

</html>